/* === GLOBALS === */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    box-sizing: border-box;
    background: #FF9966;  /* fallback for old browsers */
    background: 
        -webkit-linear-gradient(to right, #FF5E62, #FF9966);  /* Chrome 10-25, Safari 5.1-6 */
    background:         
                linear-gradient(to right, #FF5E62, #FF9966); /* W3C, IE 10+ // Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after { box-sizing: inherit; }

h1, 
h2 {
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    color: white; 
}

ul {
    padding: 0;
    list-style: none;
}

/* === STYLES === */
.container { 
    background-color: white;
    margin: 2em auto;
    block-size: calc( 100vh - 2rem );
    max-inline-size: 100rem;
    padding-inline: 3em;
    padding-block: 2em 0;
}

/* === HEADER === */
.main-header {
    padding-inline: 2em;
    display: flex;
    flex-direction: column;
    background-color: #03A9F4;
}

@media (min-width: 768px) {
    .main-header {
        flex-direction: row;
        justify-content: space-between;
    }
}

.main-header__title {
    display: flex;
    align-items: center;
}

/* === NAV === */
.nav { 
    flex-basis: 60%;
    align-self: center; 
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 1em;
    text-align: center;
}

.nav-list__item { flex: 1; }

.nav-list__item a {
    display: inline-block;
    padding-block: 2em;
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: .04em;
    color: white; 
}

/* === CONTENT === */
.content {
    display: flex;
    flex-direction: column;
    margin-block-start: 2em;
}

@media (min-width: 768px) { 
    .content { flex-direction: row; }
}

/* === 
    FLEX-CONTAINER 
          &
       SIDEBAR
=== */
.flex-container {
    order: 2;
    flex: 1;
}

.sidebar {
    flex: 1;
    margin-block-end: 2em;
    background-color: #03A9F4;
}

@media (min-width: 768px) {
    .flex-container {
        margin-inline-end: 2em; 
        order: -1;
        /* flex-grow flex-shrink basis */
        flex: 0 1 60%;
    }

    .sidebar { flex: 2; }
}

.header-title { padding-block: .5em; }

/* === SERVICES === */
.services {
    display: flex;
    flex-wrap: wrap;
}

.service { 
    flex: 1; 
    padding: 1em;
}

@media (min-width: 768px) {
    .service { flex: 0 1 calc( 33.3% - 1rem); }
}

.service:nth-child(1) { background-color: #E53935; }

.service:nth-child(2) { background-color: #8E24AA; }

.service:nth-child(3) { background-color: #3F51B5; }

/* === FOOTER === */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 2em;
    background-color: #8E24AA;
}

.footer-copyright { 
    padding-block: 2em;
    font-size: 1.8rem;
    font-weight: bold;
    color: white; 
}